<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot using Ollama (Local)</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    
    {% include 'general/header.html' %}
    {% include 'pages/' + current_page + '.html' %}

</body>
</html>

<script>
    function toggleMenu() {
        const menu = document.getElementById('menu');
        menu.classList.toggle('-translate-y-full');
    }

    function closeMenu(event) {
        const menu = document.getElementById('menu');
        const toggleButton = document.getElementById('toggleButton');

        if (!menu.classList.contains('-translate-y-full') && !menu.contains(event.target) && !toggleButton.contains(event.target)) {
            menu.classList.add('-translate-y-full');
        }
    }
    document.addEventListener('click', closeMenu);
</script>